@font-face {
  font-family: "SamsungSharp-Medium";
  src: url(../Fonts/SamsungSharpSans/samsungsharpsans-medium.otf);
  font-style: normal;
  font-weight: 400;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-family: "SamsungSharp-Medium", sans-serif;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

#add-admin-header {
  position: fixed;
  z-index: 999;
  width: 100%;
  background-color: white;
  width: 100%;
}

#add-admin-header #add-admin-nav {
  background-color: #021a3f;
  padding: 2.5px;
}

#add-admin-header #add-admin-nav .add-admin-nav-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#add-admin-header #add-admin-nav .add-admin-nav-left .img-div {
  width: 20%;
}

#add-admin-header #add-admin-nav .add-admin-nav-left .img-div img {
  width: 100%;
}

#add-admin-header #add-admin-nav .add-admin-nav-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#add-admin-header #add-admin-nav .add-admin-nav-right p {
  margin-right: 15px;
  font-size: 0.8rem;
  font-weight: 600;
  color: white;
}

#add-admin-header #add-admin-nav .add-admin-nav-right a {
  display: inline-block;
  color: white;
}

#add-admin-header .header-container {
  padding: 50px 0 33px 0;
}

#add-admin-header .header-container .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#add-admin-header .header-container .row .header-left h3 {
  margin: 0;
}

#add-admin-header .header-container .row .header-right {
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#add-admin-header .header-container .row .header-right .header-right-left-div input {
  border: 2px solid black;
}

#add-admin-header .header-container .row .header-right .header-right-left-div input:focus {
  box-shadow: none !important;
  border: 2px solid teal;
}

#add-admin-header .header-container .row .header-right .header-right-left-div input::placeholder {
  font-size: 0.8rem;
}

#add-admin-header .header-container .row .header-right .header-right-right-div .add-perfume-ext-btn {
  display: inline-block;
  cursor: pointer;
  color: red;
  font-size: 1.2rem;
}

#add-admin-header .header-container .row .header-right .header-right-right-div .add-perfume-container {
  position: fixed;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #021a3f;
  top: 15%;
  width: 50%;
  right: 4.5%;
  background-color: white;
}

#add-admin-header .header-container .row .header-right .header-right-right-div .add-perfume-container .add-perfume-left-side label {
  display: block;
  text-align: left;
}

#add-admin-header .header-container .row .header-right .header-right-right-div .add-perfume-container .add-perfume-right-side label {
  display: block;
  text-align: left;
}

#add-admin-header .header-container .row .header-right .header-right-right-div .add-perfume-container .input-header {
  border-top: 2px solid #021a3f;
  padding-top: 10px;
}

#add-admin-header .header-container .row .header-right .header-right-right-div .add-perfume-container .add-perfume-kredit-left-side .form-group {
  width: 100%;
}

#add-admin-header .header-container .row .header-right .header-right-right-div .add-perfume-container .add-perfume-kredit-left-side .form-group .three-months-disabled-input {
  width: 30%;
}

#add-admin-header .header-container .row .header-right .header-right-right-div .add-perfume-container .add-perfume-kredit-left-side .form-group .six-months-disabled-input {
  width: 30%;
}

#add-admin-header .header-container .row .header-right .header-right-right-div .add-perfume-container .add-perfume-kredit-left-side .form-group .nine-months-disabled-input {
  width: 30%;
}

#add-admin-header .header-container .row .header-right .header-right-right-div .add-perfume-container .add-perfume-kredit-right-side .form-group {
  width: 100%;
}

#add-admin-header .header-container .row .header-right .header-right-right-div .add-perfume-container .add-perfume-kredit-right-side .form-group .twelve-months-disabled-input {
  width: 30%;
}

#add-admin-header .header-container .row .header-right .header-right-right-div .add-perfume-container .add-perfume-kredit-right-side .form-group .fifteen-months-disabled-input {
  width: 30%;
}

#add-admin-header .header-container .row .header-right .header-right-right-div .add-perfume-container .add-perfume-kredit-right-side .form-group .eighteen-months-disabled-input {
  width: 30%;
}

#add-admin-header .header-container .row .header-right .header-right-right-div .add-perfume-container .add-perfume-checkbox-and-btn-div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#add-admin-header .header-container .row .header-right .header-right-right-div .add-perfume-container .add-perfume-checkbox-and-btn-div .img-form-group label {
  display: block;
  text-align: left;
}

#add-admin-header .header-container .row .header-right .header-right-right-div .add-perfume-none {
  display: none;
}

#add-admin-header .header-container .row .header-right .header-right-right-div .add-perfume-block {
  display: block;
}

#add-admin-header .header-container .row .header-right .header-right-right-div .add-admin-reload-btn {
  display: inline-block;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  color: #021a3f;
  border: 2px solid #021a3f;
  margin-right: 10px;
}

#add-admin-header .header-container .row .header-right .header-right-right-div .add-admin-add-worker-btn {
  display: inline-block;
  cursor: pointer;
  border: 2px solid #021a3f;
  padding: 5px 7.5px;
  color: #021a3f;
  border-radius: 5px;
  margin-right: 10px;
}

#add-admin-header .header-container .row .header-right .header-right-right-div .add-admin-add-btn {
  display: inline-block;
  cursor: pointer;
  border: 2px solid #021a3f;
  padding: 5px 10px;
  color: #021a3f;
  border-radius: 5px;
}

main .main-container {
  padding-top: 35px;
}

main .main-container table {
  border-collapse: separate;
  border-spacing: 0 15px;
  border-style: hidden;
}

main .main-container table thead tr th {
  position: sticky;
  z-index: 666;
  top: 200px;
  border-style: none;
  font-size: 0.8rem;
  background-color: #ccbfd9;
  text-align: center;
}

main .main-container table thead tr th:first-child {
  border-radius: 10px 0 0 10px;
}

main .main-container table thead tr th:last-child {
  border-radius: 0 10px 10px 0;
}

main .main-container table tbody {
  border: 1px solid #ededed;
}

main .main-container table tbody tr td {
  position: relative;
  text-align: center;
  border: 1px solid #021a3f;
  font-size: 0.8rem;
}

main .main-container table tbody tr td:first-of-type {
  min-width: 145px;
  max-width: 145px;
}

main .main-container table tbody tr .product-td {
  min-width: 145px;
  max-width: 145px;
}

main .main-container table tbody tr .product-td .table-img-div-container {
  position: absolute;
  width: 100%;
  z-index: 9;
  background-color: white;
  top: -10px;
  left: 115%;
  right: 0;
  border: 1px solid black;
  padding: 2.5px;
  border-radius: 0 5px 5px 5px;
}

main .main-container table tbody tr .product-td .table-img-div-container .table-img-div {
  width: 100%;
}

main .main-container table tbody tr .product-td .table-img-div-container .table-img-div img {
  width: 100%;
  object-fit: cover;
  height: 130px;
}

main .main-container table tbody tr .product-td .table-img-container-hidden {
  visibility: hidden;
  opacity: 0;
  transition: 1s;
}

main .main-container table tbody tr .product-td .table-img-container-visible {
  visibility: visible;
  opacity: 1;
  transition: 1s;
}

main .main-container table tbody tr .copy-td > a,
main .main-container table tbody tr .edit-td > a,
main .main-container table tbody tr .delete-td > a {
  color: #021a3f;
}

main .main-container table tbody tr td:first-child {
  border-radius: 10px 0 0 10px;
}

main .main-container table tbody tr td:last-child {
  border-radius: 0 10px 10px 0;
}

main .main-container table tbody tr .three-month {
  background-color: #ecf1db;
}

main .main-container table tbody tr .three-month-total {
  background-color: #d4e2c1;
}

main .main-container table tbody tr .six-month {
  background-color: #faeada;
}

main .main-container table tbody tr .six-month-total {
  background-color: #ffd4b2;
}

main .main-container table tbody tr .nine-month {
  background-color: #dbeef4;
}

main .main-container table tbody tr .nine-month-total {
  background-color: #badde0;
}

main .main-container table tbody tr .twelve-month {
  background-color: #eeece0;
}

main .main-container table tbody tr .twelve-month-total {
  background-color: #ddd8c6;
}

main .main-container table tbody tr .fifteen-month {
  background-color: #f6dad5;
}

main .main-container table tbody tr .fifteen-month-total {
  background-color: #e3b9ba;
}

main .main-container table tbody tr .eighteen-month {
  background-color: #e3dfed;
}

main .main-container table tbody tr .eighteen-month-total {
  background-color: #ccbfd9;
}

main .main-container table tbody tr a .fa-trash-alt {
  color: red;
}

main .main-container table tbody::before {
  content: ".";
  line-height: 8.5em;
  color: white;
  display: block;
}

@media (min-width: 1281px) {
  .header-container {
    padding: 50px 0 22px 0 !important;
  }
  .main-container tbody .product-td .table-img-div-container {
    position: absolute;
    width: 100%;
    z-index: 9;
    background-color: white;
    top: -10px;
    left: 115%;
    right: 0;
    border: 1px solid black;
    padding: 2.5px;
    border-radius: 0 5px 5px 5px;
  }
  .main-container tbody .product-td .table-img-div-container .table-img-div {
    width: 100%;
  }
  .main-container tbody .product-td .table-img-div-container .table-img-div img {
    width: 100%;
    object-fit: cover;
    height: 220px !important;
  }
}
/*# sourceMappingURL=answer-system.css.map */